body {
    background: url(../images/retina_wood/retina_wood.png);
}

.panel-body {

    font-size: 30px;
}

.row {

    margin: 0 auto;
}

.wins {

    color: forestgreen;
}

.lose {
    color: crimson;
}

.guess {
    color: #CCCC00;
}

.jumbotron {
    background: #966F33 !important;
}

p {
    font-weight: bold !important;
}